header {
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px 0;
}

body {
    padding: 25px;
    background-color: chartreuse;
}

main {
    text-align: center;
}

aside {
    float: left;
    background-color: rgb(109, 149, 194);
}

section {
    width: 60%;
    margin: 50px 0 0 430px;
    height: 250px;
}

.bold {
    font-weight: bold;
}

.list-group-item {
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}

.list-group-item:hover {
    background-color: cadetblue;
    color: white;
}

.col {
    padding: 15px 0px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

#currentCity {
    background-color: rgb(228, 214, 214);
    text-align: center;
    color: rgb(0, 0, 0);
    height: 280px;
    font-size: 19px;
}

#cityName {
    font-weight: bold;
}

#forcast {
    background-color: rgb(255, 255, 255);
    height: 350px;
}

#forcast h1{
    text-align: center;
}

#forcast p {
    font-size: 12px;
}

#cardLabel {
    font-size: 30px;
    padding-left: 40px;
}